.phone2wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;


  .phone2circle {
    cursor: pointer;
    margin-top: -160px;

  }


  .phone2container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .phone2left {
      width: 88%;


      .phone2left_img {
        width: 70%;
      }

      .phone2 {
        width: 100%;
      }
    }

    .phone2right {
      width: 100%;

      padding-left: 257px;
      margin-top: -546px;

      .card2 {
        width: 100%;
      }

      .phone2btn {
        margin-top: 93px;
        width: 694px;
        display: flex;
        justify-content: center;
        align-items: center;

        .phone2left1 {

          display: flex;
          justify-content: center;
          align-items: center;
          width: 330px;
          height: 86px;
          background: #60EAC0;
          border-radius: 16px;

          .phone2left_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }

        .phone2right1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 330px;
          height: 86px;
          background: #60EAC0;
          border-radius: 16px;
          margin-left: 39px;

          .phone2right_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1600px) {
  .phone2wrap {
    .phone2circle {
      margin-top: 10px;
    }

    .phone2container {
      margin-top: 300px;
    }
  }
}

@media screen and (max-width:1455px) {
  .phone2wrap {
    .phone2container {
      .phone2right {
        .phone2btn {
          width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width:1332px) {
  .phone2wrap {
    .phone2circle {
      margin-top: 100px;
    }

    .phone2container {
      margin-top: 500px;
    }
  }
}

@media screen and (max-width:1197px) {
  .phone2wrap {
    .phone2container {
      margin-top: 600px;
      display: flex;
      flex-direction: column;

      .phone2right {
        padding-left: 0px;
      }

      .phone2left {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width:1090px) {
  .phone2wrap {
    .phone2circle {
      margin-top: -340px;
    }

    .phone2container {
      .phone2right {
        margin-top: -800px;
      }
    }
  }
}

@media screen and (max-width:827px) {
  .phone2wrap {
    margin-top: 20px;
  }
}