.phonewrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;



  .circle1 {
    cursor: pointer;

  }


  .phonecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .phoneleft {
      width: 100%;
      cursor: pointer;

      .phoneleft_img {
        width: 70%;
      }

      .phone {
        width: 100%;
      }
    }

    .phoneright {
      width: 100%;
      cursor: pointer;

      .card {
        width: 100%;
      }

      .phonebtn {
        margin-top: 93px;
        width: 594px;
        display: flex;
        justify-content: center;
        align-items: center;

        .phoneleft {
          margin-right: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 56px;
          left: 969px;
          top: 1886px;
          background: #796BA2;
          border-radius: 16px;

          .phoneleft_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }

        .phoneright1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 56px;
          left: 969px;
          top: 1886px;
          background: #796BA2;
          border-radius: 16px;

          .phoneright_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1188px) {
  .phonewrap {
    .phonecontainer {
      .phonebtn {
        margin-left: -27%;
      }
    }
  }
}

@media screen and (max-width:1123px) {
  .phonewrap {
    .phonecontainer {

      .phoneleft {
        width: 50%;
      }

      .phoneright {
        width: 50%;


      }
    }
  }
}

@media screen and (max-width:970px) {
  .phonewrap {
    margin-top: 20%;
  }
}


@media screen and (max-width:957px) {
  .phonewrap {
    .phonecontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width:742px) {
  .phonewrap {
    .phonecontainer {
      .phoneright {
        .phonebtn {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (max-width:673px) {
  .phonewrap {
    .circle1 {
      margin-left: 80%;
      margin-top: 90%;
    }
  }
}

@media screen and (max-width:513px) {
  .phonewrap {
    .circle1 {
      margin-left: 400%;

    }
  }
}