.phonewrap {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;


  .circle1 {
    cursor: pointer;
  }

  .phonecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .phoneleft {
      width: 100%;
      cursor: pointer;

      .phoneleft_img {
        width: 70%;
      }

      .phone {
        width: 100%;
      }
    }

    .phoneright {
      width: 100%;
      cursor: pointer;

      .card {
        width: 100%;
      }

      .phonebtn {
        margin-left: -13%;
        margin-top: 93px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .phoneleft {
          margin-right: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 56px;
          left: 969px;
          top: 1886px;
          background: #796BA2;
          border-radius: 16px;

          .phoneleft_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }

        .phoneright1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 56px;
          left: 969px;
          top: 1886px;
          background: #796BA2;
          border-radius: 16px;

          .phoneright_text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */
            margin-left: 20px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1123px) {
  .phonewrap {
    .phonecontainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .phoneleft {
        width: 50%;
      }

      .phoneright {
        width: 50%;

        .phonebtn {
          margin-left: 0%;
        }
      }
    }
  }
}

@media screen and (max-width:1011px) {
  .phonewrap {
    .phonecontainer {
      .phoneright {
        .phonebtn {
          margin-left: 7%;
        }
      }
    }
  }
}

@media screen and (max-width:755px) {
  .phonewrap {
    .phonecontainer {
      margin-left: -10%;
    }
  }
}

@media screen and (max-width:439px) {
  .phonewrap {
    .phonecontainer {
      .phoneleft {
        margin-right: -40%;
      }

      margin-left: -20%;
    }
  }
}

@media screen and (max-width:689px) {
  .phonewrap {
    .phonecontainer {
      .phoneright {
        .phonebtn {
          .phoneleft {
            width: 450px;
          }

          .phoneright1 {
            width: 450px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:439px) {
  .phonewrap {
    .phonecontainer {
      .phoneright {
        .phonebtn {
          margin-left: 35%;
        }
      }
    }
  }
}