.homecontainer {
  background-image: url('../../../public/assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .homewrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 100px;
    padding: 0px 30px;
    padding-left: 10%;

    .homeleft {
      .lefttext {
        width: 100%;
        margin-top: 8%;

        .logo {
          width: 109px;
          height: 147px;
          margin-left: 3%;
        }

        .glam {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


          .be {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #EEA4A7;
            margin-top: -25px;
            margin-left: -93px;
          }

          .glamtext {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 53px;
            line-height: 63px;
            color: #4E819B;
          }
        }


        .who {
          display: flex;

          width: 100%;

          .whotext {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 900;
            font-size: 56px;
            line-height: 75px;
            color: #2B2847;
            margin-left: -50px;
            margin-top: 20px;
          }

        }

        .beglamtext {
          padding-top: 20px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;

          letter-spacing: 0.08em;
          color: #000000;
        }

        .button {
          text-decoration: none;
        }

        .button1 {
          width: 95%;
          margin-top: 74px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px 16px;
          gap: 10px;
          background: #4E819B;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 22px;
          line-height: 29px;
          text-align: center;

          color: #FFFFFF;
        }

        .button2 {
          width: 95%;
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px 16px;
          text-decoration: none;
          background: #EEA4A7;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 22px;
          line-height: 29px;
          text-align: center;

          color: #FFFFFF;
        }

        .shape {
          width: 100%;
          padding-top: 100px;
          padding-left: 78px;
        }
      }
    }

    .homeright {
      width: 40%;

      .woman1 {
        width: 100%;
        margin-top: -17%;

        .girl1 {
          width: 100%;
        }
      }


    }

  }
}

@media screen and (max-width:1135px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .glam {
            .be {
              font-size: 25px;
            }

            .glamtext {
              font-size: 48px;
            }
          }

          .who {
            .whotext {
              font-size: 51px;
            }
          }

          .beglamtext {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1045px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .glam {
            .glamtext {
              font-size: 43px;
            }
          }

          .who {
            .whotext {
              font-size: 35px;
            }
          }

          .beglamtext {
            font-size: 15px;
          }

          .button1 {
            width: 90%;
            font-size: 18px;
          }

          .button2 {
            width: 90%;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:906px) {
  .homecontainer {
    width: 100%;
    height: 120vh;

    .homewrap {
      display: flex;
      flex-direction: column;


      .homeleft {
        .lefttext {
          .who {
            .whotext {
              font-size: 45px;
            }
          }

          .beglamtext {
            font-size: 15px;
          }

          .button1 {
            width: 92%;
          }

          .button2 {
            width: 92%;
          }
        }
      }
    }
  }
}