.homecontainer {
  background-image: url('../../../public/assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .homewrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
    padding: 0px 30px;

    .homeleft {
      .lefttext {
        width: 100%;

        .logo {
          width: 109px;
          height: 147px;
        }

        .glam {
          margin-left: 25%;
          width: 100%;

          .be {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #EEA4A7;
            margin-top: -30px;
          }

          .glamtext {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 53px;
            line-height: 63px;
            color: #4E819B;
          }
        }


        .who {
          display: flex;

          width: 100%;

          .whotext {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 900;
            font-size: 56px;
            line-height: 75px;
            color: #2B2847;
            margin-left: -50px;
            margin-top: 20px;
          }

        }

        .beglamtext {
          padding-top: 20px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;

          letter-spacing: 0.08em;
          color: #000000;
        }

        .button {
          text-decoration: none;
        }

        .button1 {
          width: 90%;
          margin-top: 74px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px 16px;
          gap: 10px;
          background: #4E819B;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 22px;
          line-height: 29px;
          text-align: center;

          color: #FFFFFF;
        }

        .button2 {
          width: 90%;
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px 16px;
          text-decoration: none;
          background: #EEA4A7;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 22px;
          line-height: 29px;
          text-align: center;

          color: #FFFFFF;
        }

        .shape {
          width: 100%;
          margin-top: 122px;
          margin-bottom: 79px;
          margin: 40px;
        }
      }
    }

    .homeright {

      .woman1 {
        width: 100%;
        margin-top: -25%;

        .girl1 {
          width: 100%;
        }
      }


    }

  }
}

@media screen and (max-width:1284px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .beglamtext {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1235px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .beglamtext {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1207px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .logo {
            width: 30%;
          }

          .glam {
            .glamtext {
              font-size: 43px;
            }
          }

          .who {
            .whotext {
              font-size: 46px;
            }
          }

          .beglamtext {
            font-size: 16px;
          }
        }
      }

      .homeright {
        .woman1 {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width:1185px) {
  .homecontainer {
    .homewrap {


      .homeleft {
        .lefttext {
          .beglamtext {
            font-size: 14px;
          }

          .button2 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1144px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .button2 {
            font-size: 18px;
          }

          .button1 {
            font-size: 18px;
          }

          .who {
            .whotext {
              font-size: 40px;
            }
          }

          .glam {
            .glamtext {
              font-size: 38px;
            }
          }

          .beglamtext {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1100px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .who {
            .whotext {
              font-size: 35px;
            }
          }

          .glam {
            .be {
              font-size: 25px;
            }

            .glamtext {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1088px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .glam {
            .glamtext {
              font-size: 28px;
            }
          }

          .who {
            .whotext {
              font-size: 30px;
            }
          }

          .beglamtext {
            font-size: 10px;
          }

          .button1 {
            font-size: 14px;
          }

          .button2 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1043px) {
  .homecontainer {
    .homewrap {
      .homeleft {
        .lefttext {
          .beglamtext {
            font-size: 8px;
          }

          .glam {
            .glamtext {
              font-size: 27px;
            }
          }

          .who {
            .whotext {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1012px) {
  .homecontainer {
    .homewrap {
      display: flex;
      flex-direction: column;

      .homeleft {
        margin-top: 50%;

        .lefttext {
          .beglamtext {
            font-size: 10px;
          }
        }
      }

      .homeright {
        margin-top: 10%;
      }
    }
  }
}