.headerwrap {
  padding: 0px 220px;

  .headercontainer {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    // cursor: pointer;

    .btn1 {
      cursor: pointer;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.08em;
      color: #796BA2;
    }

    .btn2 {
      cursor: pointer;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.08em;
      color: #4E819B;
    }
  }
}

@media screen and (max-width:1100px) {
  .headerwrap {
    .headercontainer {
      .btns {
        display: none;
      }

      .logo {
        .logos {
          margin-left: -50%;
        }
      }
    }
  }
}