.card2container {
  width: 694px;
  height: 136px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(108, 75, 76, 0.08);
  border-radius: 32px;
  display: flex;
  margin-top: 30px;

  .card2title {
    width: 73%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-top: 43px;
    letter-spacing: 0.08em;
    color: #000000;
  }
}

@media screen and (max-width:1450px) {
  .card2container {
    width: 500px;
  }
}