.downloadwrap {
  padding-left: 274px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 433px;

  .downloadleft {
    width: 102%;
    display: flex;
    flex-direction: column;
    margin-top: 124px;

    .downloadleft_text {


      .downloadleft_text1 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 75px;
        color: #2B2847;

        .redtext1 {
          color: #EEA4A7;
        }

        .redtext2 {
          color: #4E819B
        }
      }

      .downloadleft_text2 {
        padding-top: 30px;
        font-family: 'Gilroy';
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #000000;
      }

      .downloadbutton1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 264px;
        height: 50px;
        left: 254px;
        top: 663px;
        background: #796BA2 !important;
        border-radius: 16px;
        cursor: pointer;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.08em;
        color: #FFFFFF;
      }

      .downloadbutton2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 264px;
        height: 50px;
        left: 254px;
        top: 663px;
        background: #60EAC0;
        border-radius: 16px;
        cursor: pointer;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;
      }
    }
  }

  .downloadright {
    width: 100%;
    margin-left: -46px;



    .woman2 {
      width: 100%;


      .girl2 {
        width: 85%;

      }
    }

  }

}