.downloadwrap {
  padding: 0px 193px;
  height: 80vh;

  .downloadcontainer {

    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
    margin-top: -5%;
    width: 100%;
    gap: 34px;

    .downloadleft {
      width: 110%;
      display: flex;
      flex-direction: column;

      .downloadleft_text {
        padding-top: 200px;

        .downloadleft_text1 {
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 900;
          font-size: 56px;
          line-height: 75px;
          color: #2B2847;

          .redtext {
            color: #EEA4A7;
          }
        }

        .downloadleft_text2 {
          padding-top: 30px;
          font-family: 'Gilroy';
          font-style: normal;

          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.08em;
          color: #000000;
        }

        .downloadbutton1 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 80px;
          width: 264px;
          height: 50px;
          left: 254px;
          top: 663px;
          background: #796BA2 !important;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.08em;
          color: #FFFFFF;
        }

        .downloadbutton2 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 80px;
          width: 264px;
          height: 50px;
          left: 254px;
          top: 663px;
          background: #60EAC0;
          border-radius: 16px;
          cursor: pointer;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 25px;
          /* identical to box height */

          text-align: center;
          letter-spacing: 0.08em;

          color: #FFFFFF;
        }
      }
    }

    .downloadright {
      width: 100%;
      margin-top: 10%;


      .woman2 {
        width: 85%;


        .girl2 {
          width: 100%;

        }
      }

    }

  }



}

@media screen and (max-width:1866px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 46px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1608px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 40px;
          }

          .downloadleft_text2 {
            font-size: 15px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 120%
        }
      }
    }
  }
}

@media screen and (max-width:1453px) {
  .downloadwrap {
    .downloadcontainer {
      margin-top: -15%;

      .downloadleft {
        .downloadleft_text {
          .downloadbutton1 {
            margin-top: 7%;
            font-size: 15px;
            width: 45%;
          }

          .downloadleft_text1 {
            font-size: 35px;
          }

          .downloadleft_text2 {
            font-size: 15px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 120%
        }
      }
    }
  }
}

@media screen and (max-width:1324px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 30px;
          }

          .downloadleft_text2 {
            font-size: 15px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 140%
        }
      }
    }
  }
}

@media screen and (max-width:1195px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 25px;
          }

          .downloadleft_text2 {
            font-size: 10px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 130%;
          margin-top: 30%;
        }
      }
    }
  }
}

@media screen and (max-width:1066px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 20px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 130%
        }
      }
    }
  }
}

@media screen and (max-width:970px) {
  .downloadwrap {
    margin-top: 10%;

    .downloadcontainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .downloadleft {
        margin-left: 20%;

        .downloadleft_text {
          .downloadleft_text1 {
            font-size: 30px;
          }

          .downloadleft_text2 {
            font-size: 14px;
          }
        }
      }

      .downloadright {
        .woman2 {
          width: 80%;
          margin-top: -10%;

        }
      }
    }
  }
}

@media screen and (max-width:755px) {
  .downloadwrap {
    .downloadcontainer {
      .downloadleft {
        .downloadleft_text {
          margin-left: -10%;

          .downloadleft_text1 {
            font-size: 25px;
          }

          .downloadleft_text2 {
            font-size: 10px;
          }
        }
      }
    }
  }
}