.como {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .como_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .comotext {
      display: flex;
      justify-content: center;
      align-items: center;

      .comotext1 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 75px;
        text-align: center;
        color: #2B2847;
        margin-left: -20%;
      }
    }

    .comotext2 {
      margin-top: -8%;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.08em;
      color: #000000;
    }
  }

  .como_bottom {
    .comobottomwrap {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .line {
      width: 150px;
      height: 0px;
      border: 1px dashed #796BA2;
      margin-top: 3%;
    }


  }
}

@media screen and (max-width:1323px) {
  .como_bottom {
    width: 80%;
  }
}

@media screen and (max-width:900px) {
  .como {
    .como_bottom {
      .comobottomwrap {
        display: flex;
        flex-direction: column;

        .line {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:1101px) {
  .como {
    margin-top: 10%;
  }
}


@media screen and (max-width:626px) {
  .phonewrap {
    .circle1 {
      margin-top: 75%;
    }
  }
}

@media screen and (max-width:543px) {
  .como {
    .como_top {
      .comotext {
        .comotext1 {
          font-size: 45px;
        }
      }

      .comotext2 {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:427px) {
  .como {
    .como_top {
      margin-left: 15%;

      .comotext {
        .comotext1 {
          font-size: 35px;
        }
      }
    }

    .como_bottom {
      margin-top: -20%;
    }
  }
}

@media screen and (max-width:392px) {
  .como {
    .como_bottom {
      margin-left: -15%;
    }
  }
}

@media screen and (max-width:388px) {
  .como {
    .como_top {
      .comotext {
        .comoshape {
          .shape {
            width: 200px;
          }
        }

        .comotext1 {
          font-size: 32px;
          margin-left: -30%;
        }
      }

      .comotext2 {
        margin-top: -15%;
        font-size: 12px;
      }
    }
  }
}